<!doctype html>
<html lang="en" ng-app="ng-presentation">

<head>
    <meta charset="utf-8">

    <title>ng-presentation</title>

    <meta name="description" content="A presentation about AngularJS">
    <meta name="author" content="David Martín González">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/white.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/MainCtrl.js"></script>
</head>

<body ng-controller="MainCtrl">

<div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section>
            <h1>ng-presentation</h1>
            <h3>David Martín-González</h3>
        </section>

        <section>
            <h2>{{'WHO_AM_I' | translate}}</h2>
        </section>

        <section>
            <h2>{{'WHAT_IS_ANGULAR' | translate}}</h2>
            <p>{{'WHAT_IS_ANGULAR_1' | translate}}</p>
            <ul>
                <li>{{'WHAT_IS_ANGULAR_BP1' | translate}}</li>
                <li>{{'WHAT_IS_ANGULAR_BP2' | translate}}</li>
                <li>{{'WHAT_IS_ANGULAR_BP3' | translate}}</li>
                <li>{{'WHAT_IS_ANGULAR_BP4' | translate}}</li>
                <li>{{'WHAT_IS_ANGULAR_BP5' | translate}}</li>
                <li>{{'WHAT_IS_ANGULAR_BP6' | translate}}</li>
            </ul>
        </section>

        <section>
            <p>{{'BUILD_DEMO_1' | translate}}</p>
            <p><a href="demo/index.html">{{'BUILD_DEMO_2' | translate}}</a></p>
        </section>

        <section>
            <p>{{'AGAINST_VANILLA_1' | translate}}</p>
            <p>{{'AGAINST_VANILLA_2' | translate}}</p>
            <ol>
                <li class="fragment">{{'AGAINST_VANILLA_3_0' | translate}}</li>
                <li class="fragment">{{'AGAINST_VANILLA_3' | translate}}</li>
                <li class="fragment">{{'AGAINST_VANILLA_4' | translate}}</li>
                <li class="fragment">{{'AGAINST_VANILLA_5' | translate}}</li>
                <li class="fragment">{{'AGAINST_VANILLA_6' | translate}}</li>
            </ol>
        </section>

        <section>
            <h2>{{'STEP_1' | translate}}</h2>
            <pre><code class="hljs" data-trim contenteditable>
var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 &&
            xhttp.status == 200) {
        var songs =
            JSON.parse(xhttp.responseText);
        showSongs(songs);
    }
};
xhttp.open("GET", "endpoint/index.php", true);
xhttp.send();
            </code></pre>
        </section>

        <section>
            <h2>{{'STEP_2' | translate}}</h2>
            <pre><code class="hljs" data-trim contenteditable>
var showSongs = function(songs)
{
  var div = document.getElementById('songs');
  var innerHtml = '<ul>';
  for (var i = 0; i < songs.length; i++)
  {
      innerHtml += '<li>' + songs[i].author +
              ': ' + songs[i].title + '</li>';
  }
  innerHtml += '</ul>';
  div.innerHTML = innerHtml;
}
            </code></pre>
        </section>

        <section>
            <h2>{{'RESULT' | translate}}</h2>
            <ul>
                <li ng-repeat="song in songs1">
                    {{song.author}}: {{song.title}}
                </li>
            </ul>
        </section>

        <section>
            <p>
                {{'WHAT_DO_YOU_THINK' | translate}}
            </p>
        </section>

        <section>
            <p>{{'ANGULAR_EXAMPLE_1' | translate}}</p>
            <p>{{'ANGULAR_EXAMPLE_2' | translate}}</p>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
<div id="songs">
    <ul>
        <li ng-repeat="song in songs">
            {{song.author}}: {{song.title}}
        </li>
    </ul>
</div>
            </code></pre>
        </section>

        <section>
            <p>{{'ANGULAR_EXAMPLE_3' | translate}}</p>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
$html.get('endpoint/index.php').then(
    function(res)
    {
        $scope.songs = res.data;
    });
            </code></pre>
        </section>

        <section>
            <p>{{'ANGULAR_EXAMPLE_5' | translate}}</p>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
// Without Angular
songs.push({
    author: 'Pepe Benavente',
    title: 'El gallo sube'}
);
showSongs(songs);
            </code></pre>

            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
// With Angular
$scope.songs.push({
    author: 'Pepe Benavente',
    title: 'El gallo sube'}
);
            </code></pre>
        </section>

        <section>
            <p>{{'AGAINST_VANILLA_RECAP' | translate}}</p>
            <ol>
                <li>{{'AGAINST_VANILLA_3_0' | translate}}</li>
                <li>{{'AGAINST_VANILLA_3' | translate}}</li>
                <li class="strike">{{'AGAINST_VANILLA_4' | translate}}</li>
                <li class="strike">{{'AGAINST_VANILLA_5' | translate}}</li>
                <li class="strike">{{'AGAINST_VANILLA_6' | translate}}</li>
                <li>{{'AGAINST_VANILLA_7' | translate}}</li>
                <li>{{'AGAINST_VANILLA_8' | translate}}</li>
            </ol>
        </section>

        <section>
            <h2>{{'TWO_WAY_BINDING' | translate}}</h2>
            <p>{{'TWO_WAY_BINDING_1' | translate}}</p>
            <div class="fragment">

                <p>{{'TWO_WAY_BINDING_2' | translate}}</p>
                <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
<p>Your name:
    <input type="text" ng-model="my_name"></p>
<p>Hello {{ my_name }}!</p>
                </code></pre>
            </div>
            <div class="fragment">
                <p>Your name: <input type="text" ng-model="my_name"></p>
                <p>Hello {{ my_name }}!</p>
            </div>
        </section>

        <section>
            <h2>{{'ANGULAR_APP_LOOKS' | translate}}</h2>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
var app =
    angular.module('songs-demo', []);

app.controller('SongsController',
                function($scope, $html)
{
    $html.get('songs.json').then(function(res)
    {
        $scope.songs = res.data;
    });
});
            </code></pre>
        </section>

        <section>
            <h2>{{'ANGULAR_APP_LOOKS' | translate}}</h2>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
&lt;html ng-app="songs-demo">
&lt;head>&lt;/head>
&lt;body ng-controller="SongsController">
<div>
    <ul>
        <li ng-repeat="song in songs">
            {{song.author}}: {{song.title}}
        </li>
    </ul>
</div>
&lt;/body>
&lt;/html>
            </code></pre>
        </section>

        <section>
            <h2>{{'CREATE_SONG' | translate}}</h2>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
<h3>Add a new song</h3>
&lt;input type="text" placeholder="Author"
       ng-model="new_song.author">
<br>
&lt;input type="text" placeholder="Title"
       ng-model="new_song.title">
<br>
<button ng-click="addSong()">Add</button>
            </code></pre>
        </section>

        <section>
            <h2>{{'CREATE_SONG' | translate}}</h2>
            <p>{{'THIS_LOOKS_LIKE_THIS' | translate}}</p>
            <h3>Add a new song</h3>
            <input type="text" placeholder="Author"
            ng-model="new_song.author">
            <br>
            <input type="text" placeholder="Title"
            ng-model="new_song.title">
            <br>
            <button ng-click="addSong()">Add</button>
        </section>

        <section>
            <h2>{{'CREATE_SONG' | translate}}</h2>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
// Inside the controller
$scope.new_song = {
	author: '',
	title: ''
};
            </code></pre>
        </section>

        <section>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
$scope.addSong = function()
{
    var author = $scope.new_song.author;
    var title = $scope.new_song.title;
    $http.post('endpoint/index.php',
        {author: author, title: title}).then(
    function(res)
    {
        $scope.songs.push({
            author: author,
            title: title,
            id: res.data
        });
        $scope.new_song.author = '';
        $scope.new_song.title = '';
    });
}
            </code></pre>
        </section>

        <section>
            <h2>{{'SERVICES' | translate}}</h2>
            <p>{{'SERVICES_1' | translate}}</p>
            <p>{{'SERVICES_2' | translate}}</p>
            <p>{{'SERVICES_3' | translate}}</p>
        </section>

        <section>
            <h2>{{'SERVICES' | translate}}</h2>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
app.service('SongService', function($http, $q)
{
    var ENDPOINT = 'endpoint/index.php';

    var srv = {
        getAll: function() {...},
        create: function(author, title) {...},
        delete: function(id) {...}
    };

    return srv;
});
            </code></pre>
        </section>

        <section>
            <h2>{{'SERVICES' | translate}}</h2>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
getAll: function()
{
    var deferred = $q.defer();
    $http.get(ENDPOINT).then(function(res)
    {
        deferred.resolve(res.data);
    }, function()
    {
        deferred.reject();
    });
    return deferred.promise;
}
            </code></pre>
        </section>

        <section>
            <h2>{{'SERVICES' | translate}}</h2>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
app.controller('SongsController', function(
    $http, $scope, $location, SongService)
{
    SongService.getAll().then(function(res)
    {
        $scope.songs = res;
    }, function()
    {
        console.log('Could not fetch songs' +
              '  from the server');
    });
    // good things follow...
}
            </code></pre>
        </section>

        <section>
            <h2>{{'FILTERS' | translate}}</h2>
            <p>{{'FILTERS_1' | translate}}</p>
        </section>

        <section>
            <h2>{{'FILTERS' | translate}}</h2>
<pre ng-non-bindable><code class="hljs" data-trim contenteditable>
    &lt;h3>Search&lt;/h3>
    &lt;input type="text"
    placeholder="Search all fields"
    ng-model="search">
</code></pre>
<pre ng-non-bindable><code class="hljs" data-trim contenteditable>
&lt;ul>
&lt;li
ng-repeat="song in songs | filter: search">
    {{song.author}}: {{song.title}}
&lt;/li>
&lt;/ul>
</code></pre>
        </section>

        <section>
            <h2>{{'FILTERS' | translate}}</h2>
            <p>{{'THIS_LOOKS_LIKE_THIS' | translate}}</p>
            <ul>
                <li ng-repeat="song in songs1 | filter: search">
                    {{song.author}}: {{song.title}}
                </li>
            </ul>
            <h3>Search</h3>
            <input type="text"
            placeholder="Search all fields"
            ng-model="search">
        </section>

        <section>
            <h2>{{'ROUTES' | translate}}</h2>
            <p>{{'ROUTES_1' | translate}}</p>
            <p>{{'ROUTES_2' | translate}}</p>
        </section>

        <section>
            <h2>{{'ROUTES' | translate}}</h2>
            <p>{{'ROUTES_3' | translate}}</p>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
&lt;head>
    &lt;script src="angular.js">&lt;/script>
    &lt;script src="angular-route.js">&lt;/script>
    &lt;!-- app bootstrapping, controllers,
        services... -->
&lt;/head>
            </code></pre>

            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
var app = angular.module('songs-demo',
    ['ngRoute']);
                </code></pre>
        </section>

        <section>
            <h2>{{'ROUTES' | translate}}</h2>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
app.config(['$routeProvider',
    function($routeProvider)
{
    $routeProvider.when('/list', {
        templateUrl: 'views/list.html'
    }).
    when('/add', {
        templateUrl: 'views/add.html',
    }).
    otherwise({
        redirectTo: '/list'
    });
}]);
            </code></pre>
        </section>

        <section>
            <h2>{{'ROUTES' | translate}}</h2>
            <p>{{'ROUTES_4' | translate}}</p>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
&lt;body ng-controller="SongsController">
&lt;h1>My Songs&lt;/h1>
&lt;div ng-view>&lt;/div>
&lt;/body>
            </code></pre>
        </section>

        <section>
            <h2>{{'ROUTES' | translate}}</h2>
            <p>{{'ROUTES_5' | translate}}</p>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
&lt;h3>Add a new song&lt;/h3>
&lt;input type="text"
       placeholder="Author"
       ng-model="new_song.author">
<br>
&lt;input type="text"
       placeholder="Title"
       ng-model="new_song.title">
<br>
&lt;button ng-click="addSong()">Add&lt;/button>
&lt;p>&lt;a href="#/list">View all songs&lt;/a>&lt;/p>
            </code></pre>
        </section>

        <section>
            <h2>{{'I18N_AND_L10N' | translate}}</h2>
            <p>{{'I18N_AND_L10N_1' | translate}}</p>
            <p>{{'I18N_AND_L10N_2' | translate}}</p>
            <p>{{'I18N_AND_L10N_3' | translate}}</p>
        </section>

        <section>
            <h2>{{'I18N_AND_L10N' | translate}}</h2>
            <p>{{'I18N_AND_L10N_4' | translate}}</p>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
&lt;head>
    &lt;script src="angular.js">&lt;/script>
    &lt;script src="angular-route.js">&lt;/script>
    &lt;script src="angular-translate.js">
        &lt;/script>
    &lt;!-- app bootstrapping, controllers,
        services... -->
&lt;/head>
            </code></pre>

            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
var app = angular.module('songs-demo',
    ['ngRoute', 'pascalprecht.translate']);
                </code></pre>
        </section>

        <section>
            <h2>{{'I18N_AND_L10N' | translate}}</h2>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
app.config(function ($translateProvider) {
    $translateProvider.translations('en', {
        SEARCH: 'Search',
        SEARCH_ALL_FIELDS:
                'Search by any field...',
        ADD_A_NEW_SONG: 'Add a new song',
        /* ... */
    });
    $translateProvider.translations('es', {
        /* ... */
    });
    $translateProvider.preferredLanguage(
        'es');
});
            </code></pre>
        </section>

        <section>
            <h2>{{'I18N_AND_L10N' | translate}}</h2>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
&lt;h3>{{'SEARCH' | translate}}&lt;/h3>
&lt;input type="text"
    placeholder="{{'SEARCH_ALL_FIELDS' | translate}}"
    ng-model="search">
&lt;p>&lt;a href="#/add">
    {{'ADD_A_NEW_SONG' | translate}}&lt;/a>&lt;/p>
            </code></pre>
        </section>

        <section>
            <h2>{{'I18N_AND_L10N' | translate}}</h2>
            <p>{{'I18N_AND_L10N_5' | translate}}</p>
            <pre ng-non-bindable><code class="hljs" data-trim contenteditable>
app.controller('SongsController',
    function($scope, $translate)
{
    $scope.language = 'es';
    $scope.setLanguage = function(lang)
    {
        $scope.language = lang;
        $translate.use(lang);
    }
});
            </code></pre>
            <p ng-show="language === 'es'">
                <button ng-click="setLanguage('en')">
                    {{'VIEW_SLIDES_IN_ENGLISH' | translate}}</button>
            </p>
            <p ng-show="language === 'en'">
                <button ng-click="setLanguage('es')">
                    {{'VIEW_SLIDES_IN_SPANISH' | translate}}</button>
            </p>
        </section>

        <section>
            <h2>{{'A_LOT_MORE_THINGS' | translate}}</h2>
            <ul>
                <li class="fragment">{{'DIRECTIVES' | translate}}
                <li class="fragment">{{'FACTORIES' | translate}}</li>
                <li class="fragment">{{'FORM_VALIDATION' | translate}}</li>
                <li class="fragment">{{'UNIT_TESTS' | translate}}</li>
                <li class="fragment">{{'ANIMATIONS' | translate}}</li>
                <li class="fragment">{{'AND_ELSE' | translate}}</li>
            </ul>
        </section>

        <section>
            <h2>Angular 2</h2>
            <p>{{'ANGULAR_2_IS_COMING' | translate}}</p>
        </section>

        <section>
            <h2>{{'LOOK_AT_EXAMPLES' | translate}}</h2>
        </section>

        <section>
            <p>{{'SLIDES_CODE_AT' | translate}}
                <a href="https://github.com/unpollito/ng-presentation">
                    https://github.com/unpollito/ng-presentation</a>.
            </p>
        </section>

        <section>
            <h1>ng-presentation</h1>
            <h3>David Martín-González</h3>
        </section>
    </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
            {
                src: 'lib/js/classList.js', condition: function()
            {
                return !document.body.classList;
            }
            },
            {
                src: 'plugin/markdown/marked.js', condition: function()
            {
                return !!document.querySelector('[data-markdown]');
            }
            },
            {
                src: 'plugin/markdown/markdown.js', condition: function()
            {
                return !!document.querySelector('[data-markdown]');
            }
            },
            {
                src: 'plugin/highlight/highlight.js', async: true, callback: function()
            {
                hljs.initHighlightingOnLoad();
            }
            },
            {src: 'plugin/zoom-js/zoom.js', async: true},
            {src: 'plugin/notes/notes.js', async: true}
        ]
    });

</script>

</body>
</html>
