<!DOCTYPE html>
<html lang="en" ng-app="songs-demo">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link href="bootstrap.css" type="text/css" rel="stylesheet">
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="SongService.js"></script>
    <script src="SongsController.js"></script>
</head>
<body ng-controller="SongsController">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">{{'MY_SONGS' | translate}}</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#/list">{{'VIEW_ALL_SONGS' | translate}}</a></li>
                    <li><a href="#/add">{{'ADD_A_NEW_SONG' | translate}}</a></li>
                    <li ng-show="language === 'es'"><a ng-click="switchLanguage('en')">English version</a></li>
                    <li ng-show="language === 'en'"><a ng-click="switchLanguage('es')">Versión en español</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">
    <div ng-view></div>
</div>
</body>
</html>